<div class="mt-4">
  <form action="" method="POST">
    <div class="form-group">
      <label for="search-input">Keyword</label>
      <input type="text" class="form-control" id="search-input" name="q" aria-describedby="emailHelp"
        placeholder="Input search ...">
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>